<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <certificates>
    <!-- Сертификаты должны быть установлены в локальное хранилище компьютера. -->
    <!-- По умолчанию: tenantId="", password="", pluginName="Capicom Encryption", pluginVersion="2.0", isDefault="false". -->
    <certificate userId="148676" id="1" displayName="NomadTest1" thumbprint="4AA0FC96574143E9981A7DF34176145EA294DB59" isDefault="true" />
    <certificate userId="148676" id="2" displayName="CryptoPro" thumbprint="F382B4AA8C626F65C37123EB2972669556DFE5D6" pluginName="CryptoPro Encryption" />
    <certificate userId="134" id="1" displayName="NomadTest1" thumbprint="4AA0FC96574143E9981A7DF34176145EA294DB59" isDefault="true" />
    <certificate userId="134" id="2" displayName="CryptoPro" thumbprint="F382B4AA8C626F65C37123EB2972669556DFE5D6" pluginName="CryptoPro Encryption" />
  </certificates>
</configuration>